<#@ template language="C#" #>
<#@ UseTemplateRuntimeBaseClass #>
<#@ Generators AssemblyName="C:\Git\QueryFramework\src\QueryFramework.CodeGeneration\bin\Debug\net7.0\QueryFramework.CodeGeneration.dll" #>