<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.RenderTokens.RenderCodeToken.Template" #>
<#@ model type="IRenderCodeToken<TokenParserState>" #>
            <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooterIndent12" #>