<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.RenderTokens.RenderWarningToken.Template" #>
<#@ model type="IRenderWarningToken<TokenParserState>" #>
            <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooterIndent12" #>