<#@ template language="c#" #>
<#@ templateName value="T4PlusCSharpCodeGenerator.BaseClassFooterTokens.BaseClassFooterExpressionToken.Template" #>
<#@ model type="IBaseClassFooterExpressionToken<TokenParserState>" #>
        <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>