<#@ template language="c#" #>
<#@ templateName value="T4PlusCSharpCodeGenerator.BaseClassFooterTokens.BaseClassFooterCodeToken.Template" #>
<#@ model type="IBaseClassFooterCodeToken<TokenParserState>" #>
        <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>