<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.NamespaceFooterTokens.NamespaceFooterTextToken.Template" #>
<#@ model type="INamespaceFooterTextToken<TokenParserState>" #>
    <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>