<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.NamespaceFooterTokens.NamespaceFooterErrorToken.Template" #>
<#@ model type="INamespaceFooterErrorToken<TokenParserState>" #>
    <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>