<#@ template language="c#" #>
<#@ templateName value="T4PlusCSharpCodeGenerator.InitializeTokens.ClearErrorsToken.Template" #>
<#@ model type="IClearErrorsToken<TokenParserState>" useForRoutingOnly="true" #>
            this.Errors.Clear();
