<#@ template language="c#" #>
<#@ templateName value="T4PlusCSharpCodeGenerator.RenderTokens.RenderGeneratorAssemblyTokenTemplate" #>
<#@ model type="IRenderGeneratorAssemblyToken<TokenParserState>" #>
            //TODO: Code goes here