<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.InitializeTokens.InitializeErrorToken.Template" #>
<#@ model type="IInitializeErrorToken<TokenParserState>" #>
            <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>