<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.InitializeTokens.InitializeWarningToken.Template" #>
<#@ model type="IInitializeWarningToken<TokenParserState>" #>
            <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>