<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.InitializeTokens.InitializeTextToken.Template" #>
<#@ model type="IInitializeTextToken<TokenParserState>" #>
            <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>