<#@ template language="c#" #>
<#@ templateName value="T4CSharpCodeGenerator.InitializeTokens.InitializeCodeToken.Template" #>
<#@ model type="IInitializeCodeToken<TokenParserState>" #>
            <#@ RenderChildTemplate model="Model" customResolverDelegate="RootTemplate.BaseTemplate" customRenderChildTemplateDelegate="RenderWithHeaderAndFooter" #>